#toggle-icon {
    cursor: pointer;
    margin: 100px auto;
    display: table;
}
.bar1, .bar2, .bar3 {
    width: 25px;
    height: 2px;
    margin: 7px 0;
    transition: all 300ms;
}
.rotate-icon .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-5px, 4px);
}
.rotate-icon .bar2 {
    opacity: 0;
}
.rotate-icon .bar3 {
    -webkit-transform: rotate(45deg) translate(-9px, -8px);
    transform: rotate(45deg) translate(-9px, -8px);
}